Your Custom Styles
.btn-primary , .bg-primary{
    background: linear-gradient(45deg,black,blueviolet);
}
.btn-secondary , .bg-secondary{
    background: linear-gradient(45deg,black,purple);
}
.btn-success , .bg-success{
    background: linear-gradient(45deg,black,limegreen);
}
.btn-info , .bg-info{
    background: linear-gradient(45deg,black,lightblue);
}
.btn-warning , .bg-warning{
    background: linear-gradient(45deg,black,orange);
}
.btn-danger , .bg-danger{
    background: linear-gradient(45deg,black,red);
}
/* .btn-light , .bg-light{
    background: linear-gradient(45deg,darkgrey,grey);
}
.btn-dark , .bg-dark{
    background: linear-gradient(45deg,black,rgb(250, 252, 252));
} */
.table tbody tr td{
    font-weight: bold;
}
.contact-img{
    margin-top : -70px;
}
.landingPage {
    background: white url("assets/bg-image2.jpg") no-repeat scroll;
    background-size: cover;
    height: 100vh;
    color: white;
}
.wrapper{
    background: url("./assets/islamic-prayer-dusk-sun.jpeg") no-repeat;
 
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.nav-link{
    font-weight: bold;
}

body{
    background: url("./assets/islamic-prayer-dusk-sun.jpeg") no-repeat;
 
  /* Full height */
 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.Count {
    height: 54px;
    padding: 10px 112px;
    margin: 1rem;
    border-radius: 2em;
    box-shadow: 1px 2px 2px #0D3B66;
    background: linear-gradient(45deg,black,limegreen);

    display: flex;
    align-items: right;
    justify-content: right;

    color: white;
    margin-top: 20px;
}